body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-box {
  $box-size: 200px;
  display: inline-block;
  width: $box-size;
  height: $box-size;
  border-radius: 8px;
  transition: all 0.35s ease-in-out 0s;
  text-align: center;
  cursor: pointer;
}

.todo-list {
  color: red;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.dash-board{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}

.select {
  width: 80px;
}

.selectClassCode {
  width: 200px;
}

.use-icon {
  background: none;
  border: none !important;
  color: #00b3e6;;
  cursor: pointer;
  font-size:18px;
  :active {
    border: none !important;
    border-color: white;
  }
}

.use-icon-delete {
  background: none;
  border: none !important;
  color: rgb(255, 110, 64);
  cursor: pointer;
  font-size:18px;
  :active {
    border: none !important;
    border-color: white;
  }
}

.text-box {
  padding: 5px;
  margin: 2px;
  width: 200px;
  height: 30px;
  border-style: outset;
  border-width: 1.5px;
  font-size: small;
}

.bold-text {
  font-weight: bold;
  font-size: medium;
}

.btn-paginate {
  width: 70px;
  height: 38px;
  font-size: small;
  cursor: pointer;
}


